logs/
data/

config/prod/

receiver/__pycache__/
receiver/.venv/

storage/__pycache__/
storage/.venv/

processing/__pycache__/
processing/.venv/

analyzer/__pycache__/
analyzer/.venv/

consistency_check/__pycache__/
consistency_check/.venv/

project_description.txt
project-notes.txt